<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gtest" version="1.7.0.1" targetFramework="Native" />
  <package id="protobuf" version="2.5.0.0" targetFramework="Native" />
  <package id="tbb" version="4.2.3.1" targetFramework="Native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="Native" />
</packages>